<div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
      <h3 class="text-center mb-4">Change Password</h3>
      @if (isForced) {
      <p class="text-center text-warning">You must change your password to continue.</p>
      }
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Current Password</label>
          <input type="password" class="form-control" formControlName="currentPassword">
           <div class="invalid-feedback d-block" *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.invalid">
            Required (min 6 chars).
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" formControlName="newPassword">
          @if (form.get('newPassword')?.touched && form.get('newPassword')?.invalid) {
          <div class="invalid-feedback d-block small">
            Password must be at least 8 characters long and include an uppercase letter, a lowercase letter, a number, and a special character.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          @if (form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
          <div class="invalid-feedback d-block">
            Passwords do not match.
          </div>
          }
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid || isLoading">
          {{ isLoading ? 'Updating...' : 'Update Password' }}
        </button>
      </form>
    </div>